body{
    background-color: rgb(213, 225, 239);
    margin-top: 250px;
}
img{
    border-radius: 12px;
    width: 300px;
    height: 300px;
}
.content-box{
    background-color: white;
    border-radius: 20px;
    margin: auto;
    width: 50%;
    padding-top: 20px;
    max-width: 340px;
    text-align: center;
}
@font-face {
    font-family: Outfit;
    src: url(Outfit-VariableFont_wght.ttf);
}
h4{
    padding: 0px 40px;
    font-family: Outfit;
    font-size: 22px;
    color:rgb(31, 49, 79);
}
p{
    font-family: Outfit;
    padding: 0px 40px 40px;
    font-size: 15px;
    color:rgb(104, 119, 141);
}